.post {
  border-width: 1px;
  display: inline-block;
  border-style: none solid solid none;
  border-color: #ddd;
  background-color: #efefef;
  margin-bottom: 8px;
  padding: 8px;
}

.refer_to {
text-decoration: underline 
}

.referred_from {
font-size: 0.7em;
margin-left: 5px;
text-decoration: none
}


